/**Color fondo y font texto body principal**/

body{
	color: #F8FF00;
	background-color: #1F2327;
    }  
h1{font-family:arial;}
footer{
  color:#ffffff;
  background-color:#343a40;
  text-align: center;
}
audio
{
  display: block;
  margin-bottom: 10px;
}
a:hover{color:#ffd215;}
.menuicosvg{
    width: 22px;
    height: 22px;
    margin-bottom: 4px;
    margin-right: 6px;
}
.icoteam{
    width: 22px;
    height: 22px;
    margin-right: 4px;
    margin-bottom: 5px;
    
    }
    .icoradio{
    width: 22px;
    height: 22px; 
    margin-right: 4px;
    margin-bottom: 6px;
    }
    .icoevent{
    width: 20px;
    height: 20px;
    margin-left: 1px;
    margin-right: 6px;
    margin-bottom: 5px;
    }
   .icomerca{
    width: 20px;
    height: 20px;
	margin-left: 1px;
    margin-right: 6px;
    margin-bottom: 5px;
   }
   .icoabout{
    width: 23px;
    height: 23px;  
    margin-right: 4px;
    margin-bottom: 4px;
   }
   .icoregi{
    width: 22px;
    height: 22px;
    margin-right: 8px;
    margin-bottom: 5px;
    
    }
   .icopriva{
    width: 22px;
    height: 22px;
    margin-right: 8px;
    margin-bottom: 7px;
    
    }
.flecham{
    width: 30px;
    height: 30px;
	   margin-bottom: 4px;   
}

.noticias-scroll{
    font-size: 22px;
    direction:left;
    width: 90%;
	max-width: 600px;
    padding: 0px;
    color:#d9ff95;
	   margin-top: 5px;
}
.titulobanda{
    color: #ffe740;
    text-align: center;
    text-decoration: underline;
   padding-bottom: 10px;
}

 .gfxmerca{
 text-align: center;
 text-decoration: underline;
 }

.renlfrecdig{
	width: 90%;
	max-width: 600px;
    color: #baff80;
    border-style: solid;
    padding: 20px 10px 0px 10px;
    }
  .titulobox{max-width: 400px;
	width: 90%;
    border-style: solid;
    border-width: 4px;
    border-color: #ffe715;
    padding: 12px 10px 15px 10px;}
    
.princbox{
	max-width: 600px;
	width: 90%;
    border-style: solid;
    border-width: 4px;
    border-color: #fff100;
    padding: 14px 10px 0px 10px;
    }
.tituloboxre{
    color:greenyellow; 
    background-color:black; 
    font-size: 15px;
    padding: 5px 5px 5px 5px;
}
.listabout{
	width: 90%;
	max-width: 600px;
    border-style: solid;
    border-width: 4px;
    border-color:darkgoldenrod;
    padding: 15px 15px 5px 15px; 
    }
.listeamsp{
	width: 90%;
	max-width: 400px;
    border-style: solid;
    border-width: 4px;
    border-color:darkgoldenrod;
    padding: 15px 15px 15px 15px; 
    }

.tiboxabout{
	color:navajowhite;
    background-color:black;
    padding: 5px 5px 5px 5px;
}
.lixboxind{
    border-style: solid;
    border-width: 3px;
    border-color: #ababab;
    margin-top:10px;
    margin-bottom: 5px;
    padding: 20px 10px 5px 10px;
}
.cajasdrdial{ 
    width: 340px;
    border-style: solid;
    border-width: 3px;
    border-color: #ababab;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px 5px 20px;
}
.cajasdrtxt{ 
    width: 95%;
	max-width: 600px;
    border-style: solid;
    border-width: 3px;
    border-color: #ababab;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 10px 0px 10px;
}
.cuadrolistfreloc{
    width: 95%;
    border-style: solid;
    border-width: 3px;
    border-color: #5f7c8e;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    }
 .mobidescbox{max-width: 400px;
	width: 90%;
    border-style: solid;
    border-width: 4px;
    border-color: #ffe715;
    padding: 12px 10px 15px 10px;
}
.pcdescbox{max-width: 400px;
	width: 90%;
    border-style: solid;
    border-width: 4px;
    border-color: #5AF312;
    padding: 12px 10px 15px 10px;
}
.probteambox{max-width: 400px;
	width: 90%;
	border-style: solid;
    border-width: 4px;
    border-color: #FC5F5F;
    padding: 12px 10px 15px 10px;
}
.manlistbox{max-width: 400px;
	width: 90%;
	border-style: solid;
    border-width: 4px;
    border-color: #ff8800;
    background-color: #000000;
    padding: 12px 10px 15px 10px;
}
.maninsbox{max-width: 400px;
 width: 90%;
	border-style: solid;	   
    border-width: 4px;
    border-color: #18BBEC;
    background-color: #000000;
    padding: 12px 10px 15px 10px;
}
.boxestad{max-width: 400px;
 width: 90%;
	margin: 8px 8px;
	border-style: solid;
    border-width: 4px;
    border-color: #84FC16;
   background-color: #010B16;
    padding: 12px 10px 15px 10px;
}
.boxlinx{max-width: 400px;
 width: 90%;
	margin: 8px 8px;
	border-style: solid;
    border-width: 4px;
    border-color: #FC8815;
   background-color: #001904;
    padding: 12px 10px 15px 10px;
}
.desmandbox{max-width: 400px;
 width: 90%;
	border-style: solid; 
    border-width: 4px;
    border-color: #E47800;
	background-color: #FFFFFF;
    padding: 12px 10px 15px 10px;
}
.desmandwinbox{max-width: 400px;
 width: 90%;
	border-style: solid; 
    border-width: 4px;
    border-color: #E47800;
	background-color: #100046;
    padding: 12px 10px 15px 10px;
}
.manhistory{max-width: 400px;
 width: 90%;
	border-style: solid; 
    border-width: 4px;
    border-color: #E47800;
	padding: 12px 10px 15px 10px;
}

.reglab{
	
	    margin-top: 10px;
		color: #F6FB50 ;
	}

.pregbox{
    border-style:  dashed solid ;
    border-width: 4px;
    border-color: #D97735;
	max-width: 300px;
	width: 90%;
	padding: 10px 0px 10px 0px;
}
.advreg{
	max-width: 300px;
	width: 90%;
	border-style: inset;
    border-width: 4px;
    border-color:#FC0000;
	padding: 10px 10px 10px 10px;
}
.advregcb{
	max-width: 300px;
	width: 90%;
	border-style: inset;
    border-width: 4px;
    border-color:#FC0000;
	padding: 10px 10px 0px 10px;
}

.rec_normas_reg{
	max-width: 300px;
	width: 95%;
	border-style: inset;
    border-width: 4px;
    border-color:#F9F800;
	padding: 10px 0px 10px 0px;
}
.box_gwhat{
	max-width: 275px;
	width: 95%;
	border-style: inset;
	background-color: #100046;
    border-width: 4px;
    border-color:#968788;
	padding: 10px 0px 10px 0px;
}


@media screen and (min-width: 600px) { .ocultar-div{
 display:none; 
 } }

.navbar-toggler-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  
}
.navbar-toggler {
    background-color:#534546 !important;
	border-color:antiquewhite !important;
	
}
.dropdown-divider {
  
  border-top: 2px solid #0054FF !important;
}

input[type=checkbox] {
  transform: scale(1.5);
}
input[type=radio] {
  transform: scale(1.5);
}
.boxderlic{
	width: 300px;
	border-style: solid;
    border-width: 3px;
    border-color: #ababab;
    padding: 10px 15px 10px 15px;
}
.amarillo div{
 border-bottom:solid 3px gold; 
 width:100%;
 padding-bottom: 10px;
 margin-bottom: 10px;
 
 }
 .container_and {
 position: relative;
 margin: 0 auto;
 width: 300px; 	 
}
/** parpadeo texto **/
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
